@media all {
  html {
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: hsl(0, 0%, 98%);
  }
  h1 {
    color: hsl(234, 12%, 34%);
  }
  p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    font-size: 15px;
  }
  .title, .sub-title, .header-p {
    text-align: center;
  }
  h1 {
    font-weight: 600;
  }
  .sub-title h1 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: -1rem;
  }
  .left, .center > div, .right {
    background: white;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: rgb(29, 55, 85,0.25) 0px 13px 27px -5px, hsla(212, 86%, 64%, 0.3) 0px 8px 16px -8px;
  }
  .left > div, .center > div, .right div {
    padding: 0.5rem 2rem;
    padding-bottom: 2rem;
  }
  .supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 5px;
  }
  .team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 5px;
  }
  .karma {
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 5px;
  }
  .karma p {
    width: 90%;
  }
  .calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 5px;
  }
  main {
    margin: 0 auto;
  }
  main h1 {
    font-size: 24px;
    font-weight: 600;
  }
  main p {
    font-size: 14px;
  }
  /* .left .img, .right .img {
    float:right;
    margin: 1.5rem 0;
  }
  .center .img {
    display: -webkit-box;
    margin-left: auto;
    margin-bottom: 2rem;
  } */
  .img {
    display: -webkit-box;
    margin-top: 1rem;
    margin-left: auto;
  }
  
}

/* desktop */
@media (min-width: 376px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 100vh; */
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  header {
    margin: 2rem 0;
  }
  main {
    display: flex;
  }
  .header-p {
    width: 40%;
    margin: 0 auto;
  }
  .left {
    margin-left: 10rem;
  }
  .right {
    margin-right: 10rem;
  }
  .left, .right {
    margin-top: 7rem;
  }
  .left, .center, .right {
    width: 100%;
    height: 100%;
  }
  .center {
    margin: 0 1rem;
  }
  .center div {
    margin-bottom: 1rem;
  }
  .img {
    width: 20%;
  }
}